.container {
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 18px;
  
  }
  
  .heading_container h3 {
    font-weight: 800;
    font-size: 25px;
  }
  
  .nav_menu {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    gap: 60px;
    cursor: pointer;
    transition: transform 0.4s, box-shadow 0.4s;
  }
  
  ul li {
    list-style: none;
    font-weight: 300;
    padding-bottom: 10px;
  
    transition: 0.6s;
  }
  
  ul li:hover {
    transform: scale(1.5);
    color: rgb(180, 174, 164);
  }
  
  .anchor-link {
    text-decoration: none;
    color: rgb(32, 20, 4);
  }
  .nav-close{
    display: none;
  }
  .nav-open{
    display: none;
  }
  @media (max-width: 767px) {
  
   
  
    .heading_container{
      margin: 20px 0 0 0;
    }
    .nav {
      margin: 20px 50px;
      
    }
  
    .nav-open {
      display: block;
      position: fixed;
      right: 30px;
    }
  
    .nav-close {
      display: block;
      position: relative;
      top: 30px;
      left: 30px;
      width: 40px;
    }
  
    .nav_menu {
      text-align: center;
      position: fixed;
      flex-direction: column;
      align-items: start;
      top: 0;
      gap: 30px;
      background-color: rgb(255, 237, 211);
      width: 250px;
      height: 100%;
      z-index: 2;
      transition: right 0.5s;
      right: -300px;
      
    }
  
    .nav_menu li {
    
      margin-top: 108px;
      font-size: 15px;
      font-weight: 600;
      padding-left: 93px;
      
    }
  
    ul li:hover {
      transform: none;
   
    }
    
  
    
  }
  